<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/schoolIcon.jpg" type="image/x-icon" />
    <title>申請住宿</title>

    <link href="/stylesheets/student_apply.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg setNav justify-content-between">
            <a class="navbar-brand fs-4 " href="/">
                <img src="/images/schoolLogo.png" alt="school Icon" width="40" height="40" class="d-inline-block">
                國立高雄大學學生住宿系統
            </a>
            <ul class="navbar-nav fs-5 ">
                <li class="nav-item">
                    <a class="nav-link" href="/student/application">申請住宿</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/information">住宿資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/repairForm">報修申請</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/messageBoard">留言板</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student/violation">違規紀錄</a>
                </li>
            </ul>
        </nav>
        <p class="setTitleBlock">申請住宿</p>
    </header>

    <!-- 如果已經申請過了需要顯示相對應畫面 h3,set button gone, get student apply information -->
    <main>
        <% data=JSON.parse(data);%>
        <% if(data[0].ApplyNumber !== undefined) {%>
            <h3 class="setAppliedWord">您已於<%= data[0].DATE%>時送出申請，以下是您的申請選擇，審核狀態為<%= data[0].Approved%></h3>
        <%}%>
        <form class="setContentBlock" method='post' action='http://localhost:3000/student/application/'>       
            <div class="mb-3 row">
                <label for="staticName" class="col-sm-2 col-form-label">名字</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticName" name="UName" value="<%= data[0].UName%>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticStudentId" class="col-sm-2 col-form-label">學號</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticStudentId" name="StuID"value="<%= data[0].StuID%>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticAcademicYear" class="col-sm-2 col-form-label">學年度</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticAcademicYear"name="ApplyAcademicYear" value="111">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticSemester" class="col-sm-2 col-form-label">學期</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticSemester" name="ApplySemester"
                        value="第二學期">
                </div>
            </div>
            <!-- 未申請分男女 -->
            <% if(data[0].ApplyNumber === undefined) {%>
                <% if(data[0].SSex === "男"){ %>
                    <label for="" class="col-form-label">請選擇欲申請之宿舍</label>
                    <select class="form-select" required="required" aria-label="Default select example" name="DName">
                        <option value="學一宿舍OA">學一宿舍OA</option>
                        <option value="學二宿舍OE">學二宿舍OE</option>
                        <option value="綜合大樓">綜合大樓</option>
                    </select>
                <%} else {%>
                    <label for="" class="col-form-label">請選擇欲申請之宿舍</label>
                    <select class="form-select" required="required" aria-label="Default select example" name="DName">
                        <option value="學一宿舍OB">學一宿舍OB</option>
                        <option value="學二宿舍OF">學二宿舍OF</option>
                    </select>
                <%}%>
                <div class="d-flex justify-content-center">
                    <input type="submit" class="submitButton" value="確認送出">
                </div>
            <%} else {%>
                <div class="mb-3 row">
                    <label for="ApplyDorm" class="col-sm-2 col-form-label">欲申請之宿舍</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="ApplyDorm" name="DName"
                            value="<%= data[0].DName%>">
                    </div>
                </div>
            <%}%>
        </form>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>